@use 'sass:color';

$buttonColor: #fdbc11;

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 24px;
  width: 100%;

  max-width: calc(100% - 48px);

  @media (min-width: 429px) {
    max-width: 412px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginButton {
  width: 100%;
  margin: 0;
  padding: 22.5px 0;
  background-color: $buttonColor;
  color: black;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.adjust($buttonColor, $lightness: -10%);
  }
}

.errorMessage {
  color: red;
  margin-top: 10px;
}
