node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

dist/
build/
*.js
*.js.map

*.tsbuildinfo

logs
*.log
pids
*.pid
*.seed

.env
.env.local
.env.*.local

.vite/
*.css.d.ts

.idea/
.vscode/
.DS_Store
Thumbs.db