$brandMainColor: #ec4466;
$grayColor: #808080;

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 82px;
  box-shadow: 0px -2px 18px 0px #8080801a;
}

.menuIcon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: $grayColor;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: $grayColor;
    padding: 8px 12px;
    &:hover {
      color: $brandMainColor;
    }
  }
}

@media (max-width: 428px) {
  .navBar {
    padding: 12px 24px 0px;
    box-shadow: none;
  }

  .menuIcon {
    display: block;
  }

  .navList {
    display: none;
    width: 232px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all 0.3s ease;

    &.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }

    a {
      color: $brandMainColor;
    }

    li {
      margin: 5px 0;
    }
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  background-color: transparent;
  color: $brandMainColor;
  border: none;
  padding: 0px;
  cursor: pointer;
}
