.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 82px;
  box-shadow: 0px -2px 18px 0px #8080801a;
}

@media (max-width: 428px) {
  .navBar {
    padding: 12px 24px 0px;
    box-shadow: none;
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  background-color: transparent;
  color: #ec4466;
  border: none;
  padding: 0px;
  cursor: pointer;
}
