.gamesList {
  display: grid;
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  align-content: start;
  border-radius: 8px;
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 428px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 428px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gameItem {
  max-width: 200px;
  height: auto;
}

.gameImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
