.gamesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.gameImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
