.playerViewContainer {
  width: 100%;
}

.playerViewContent {
  padding: 75px 82px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.gameFilters {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
}
